src/main/mule/affluent-onboarding-experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="affluent-onboarding-experience-api-main">
        <http:listener config-ref="httpListenerConfig" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[attributes.relativePath]" doc:name="relativePath" doc:id="ce2e4d8b-74be-4d7c-bf0f-8e51a41cd95e" variableName="relativePath" />
        <logger level="INFO" doc:name="Start" doc:id="ce23ed6f-c823-4356-a3c5-e3496e4e01cb" message="Starting #[vars.relativePath] / Body: #[payload]" />
        <apikit:router config-ref="affluent-onboarding-experience-api-config" />
        <logger level="INFO" doc:name="End" doc:id="bfb146b1-241f-42aa-b4e6-30d7bea745cb" message="End of #[vars.relativePath] / Body: #[payload]" />
        <error-handler ref="error-handler_common" />
    </flow>
    <flow name="post:\tenants\(tenantId)\onboardings:application\json:affluent-onboarding-experience-api-config">
        <ee:transform doc:name="tenantUuid, originalPayload">
            <ee:variables>
                <ee:set-variable variableName="tenantUuid"><![CDATA[attributes.uriParams.'tenantId']]></ee:set-variable>
                <ee:set-variable variableName="originalPayload"><![CDATA[payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="post-onboardings-impl-subflow" doc:id="3d7013b2-edbf-47f7-a725-5ed822c70f6d" name="post-onboardings-impl-subflow" />
    </flow>
    <flow name="post:\tenants\(tenantId)\onboardings\(id)\.send-ownership-confirmation-otp:application\json:affluent-onboarding-experience-api-config">
        <ee:transform doc:name="onboardingUuid, tenantUuid, originalPayload" doc:id="29aef035-d862-416f-a8d0-418314fe7232">
            <ee:variables>
                <ee:set-variable variableName="originalPayload"><![CDATA[payload]]></ee:set-variable>
                <ee:set-variable variableName="onboardingUuid"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
                <ee:set-variable variableName="tenantUuid"><![CDATA[attributes.uriParams.'tenantId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="post-send-ownership-conf-otp-impl-subflow" doc:id="bda1b28a-ad07-4fe6-80ee-7de9e5009144" name="post-send-ownership-conf-otp-impl-subflow" />
    </flow>
    <flow name="post:\tenants\(tenantId)\onboardings\(id)\source-data-screening-requests:application\json:affluent-onboarding-experience-api-config">
        <ee:transform doc:name="onboardingUuid, tenantUuid, originalPayload" doc:id="d1a8819d-97b1-4f44-9128-1753545edf38">
			<ee:variables>
				<ee:set-variable variableName="originalPayload"><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="onboardingUuid"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
				<ee:set-variable variableName="tenantUuid"><![CDATA[attributes.uriParams.'tenantId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="post-screening-requests-impl-subflow" doc:id="306f6705-f151-4727-b717-d4f5e3c023ca" name="post-screening-requests-impl-subflow"/>
    </flow>
</mule>
