src/main/mule/affluent-onboarding-experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="affluent-onboarding-experience-api-main">
        <http:listener config-ref="httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[attributes.relativePath]" doc:name="relativePath" doc:id="7c7d57dd-cf47-4832-bfd4-c0050a496679" variableName="relativePath" />
        <logger level="INFO" doc:name="Start" doc:id="8b864c08-5044-416c-92e3-08c053c78177" message="Starting #[vars.relativePath] / Body: #[payload]" />
        <apikit:router config-ref="affluent-onboarding-experience-api-config" />
        <logger level="INFO" doc:name="End" doc:id="c1bfadd5-9e90-41c7-9d25-53e0c7269e54" message="End of #[vars.relativePath] / Body: #[payload]" />
        <error-handler ref="error-handler_common" />
    </flow>
    <flow name="post:\tenants\(tenantId)\onboardings:application\json:affluent-onboarding-experience-api-config">
        <ee:transform doc:name="tenantUuid, originalPayload">
            <ee:variables>
                <ee:set-variable variableName="tenantUuid"><![CDATA[attributes.uriParams.'tenantId']]></ee:set-variable>
                <ee:set-variable variableName="originalPayload"><![CDATA[payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="post-onboardings-impl-subflow" doc:id="f09a341b-494a-4f14-b041-bdcfb689771a" name="post-onboardings-impl-subflow" />
    </flow>
    <flow name="post:\tenants\(tenantId)\onboardings\(id)\.send-ownership-confirmation-otp:application\json:affluent-onboarding-experience-api-config">
        <ee:transform doc:name="onboardingUuid, tenantUuid, originalPayload" doc:id="d685e68b-1807-4d9c-adfa-5e7b2bfaa0f4">
            <ee:variables>
                <ee:set-variable variableName="originalPayload"><![CDATA[payload]]></ee:set-variable>
                <ee:set-variable variableName="onboardingUuid"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
                <ee:set-variable variableName="tenantUuid"><![CDATA[attributes.uriParams.'tenantId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="post-send-ownership-conf-otp-impl-subflow" doc:id="bcdedd58-75af-44f4-a09e-36319e2ca6e3" name="post-send-ownership-conf-otp-impl-subflow" />
    </flow>
    <flow name="post:\tenants\(tenantId)\onboardings\(id)\source-data-screening-requests:application\json:affluent-onboarding-experience-api-config">
        <ee:transform doc:name="onboardingUuid, tenantUuid, originalPayload" doc:id="6f0901a5-76a6-4178-828d-810ac0fa2e3b">
            <ee:variables>
                <ee:set-variable variableName="originalPayload"><![CDATA[payload]]></ee:set-variable>
                <ee:set-variable variableName="onboardingUuid"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
                <ee:set-variable variableName="tenantUuid"><![CDATA[attributes.uriParams.'tenantId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="post-screening-requests-impl-subflow" doc:id="00e9274c-e063-4dd0-9dee-d57ad9fd6e17" name="post-screening-requests-impl-subflow" />
    </flow>
    <flow name="post:\tenants\(tenantId)\onboardings\(id)\.validate-ownership-confirmation-otp:application\json:affluent-onboarding-experience-api-config">
        <ee:transform doc:name="onboardingUuid, tenantUuid, originalPayload" doc:id="bacfd2c6-78ef-4ba1-b533-110ebac8930b">
            <ee:variables>
                <ee:set-variable variableName="originalPayload"><![CDATA[payload]]></ee:set-variable>
                <ee:set-variable variableName="onboardingUuid"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
                <ee:set-variable variableName="tenantUuid"><![CDATA[attributes.uriParams.'tenantId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="post-validate-ownership-confirmation-impl-subflow" doc:id="e8b1f915-8573-4ac9-b0dd-178fb66dc805" name="post-validate-ownership-confirmation-impl-subflow" />
    </flow>
    <flow name="post:\tenants\(tenantId)\onboardings\(id)\ppe-screening-requests:application\json:affluent-onboarding-experience-api-config">
        <ee:transform doc:name="onboardingUuid, tenantUuid" doc:id="a5f1c39f-0ffd-4e33-b178-6497b13cb4c1">
            <ee:variables>
                <ee:set-variable variableName="onboardingUuid"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
                <ee:set-variable variableName="tenantUuid"><![CDATA[attributes.uriParams.'tenantId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="post-ppe-screening-requests-impl-subflow" doc:id="0710ec25-0e59-4926-b958-81760167a928" name="post-ppe-screening-requests-impl-subflow" />
    </flow>
      <flow name="post:\tenants\(tenantId)\onboardings\(id)\w8-forms:application\json:affluent-onboarding-experience-api-config">
        <ee:transform doc:name="onboardingUuid, tenantUuid" doc:id="3869af1e-0a74-4d6b-a982-d78a9953a6d3">
            <ee:variables>
                <ee:set-variable variableName="onboardingUuid"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
                <ee:set-variable variableName="tenantUuid"><![CDATA[attributes.uriParams.'tenantId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="post-w8-forms-impl-subflow" doc:id="2728d496-bfc4-412e-af73-ce6ec205c873" name="post-w8-forms-impl-subflow"/>
    </flow>
</mule>
